@font-face {
    font-family: "grace-covered";
    src: url("./Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf");
}

:root {
    --light-gray: #cccccc;
    --dark-gray: #777777;
    --lighter-gray: #F1F5F9;
    --mustard: #CA8A04;
    --blue: #1E293B;
    --red: #FDA4AF;
    --green: #86EFAC;
    --yellow: #FDE047;

    --fixed-ui-elements: #64748B;
    --fixed-ui-color: white;
    --bg-color: #CBD5E1;
    --header-color: var(--blue);
    --shadow: black;

    --header-height: max(10vh, 60px);
    --footer-height: clamp(40px, 8vh, 60px);
    --add-btn-height: clamp(40px, 8vh, 55px);
    --add-btn-margin: 1rem;

    --bradius: 1rem;
    --bweight: 3px;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: white;
    justify-content: stretch;
    font-family: "grace-covered";
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: var(--header-height);
    width: 100vw;
    box-shadow: 2px 2px 3px black;
    padding-left: 1rem;
    background-color: var(--fixed-ui-elements);
    color: var(--fixed-ui-color);
}

div#app-body {
    padding: 1rem;
    padding-bottom: calc(var(--footer-height) + var(--add-btn-height) + 2*var(--add-btn-margin));
    height: 100%;
}

div#app-body .header {
    font-size: 3rem;
    margin: 0;
    margin-top: var(--header-height);
    margin-bottom: 1rem;
    color: var(--header-color);
}

div#container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: var(--bweight) solid var(--light-gray); */
    border-radius: var(--bradius);
}

div#container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div#container ul > li:first-child {
    --actual-bradius: calc(var(--bradius) - var(--bweight));
    border-top-left-radius: var(--actual-bradius);
    border-top-right-radius: var(--actual-bradius);
}

div#container ul > li:last-child {
    --actual-bradius: calc(var(--bradius) - var(--bweight));
    border-bottom-left-radius: var(--actual-bradius);
    border-bottom-right-radius: var(--actual-bradius);
}

div#container ul li {
    padding: 0.5rem 1rem;
    margin: 0.5rem, 0;
}

div#container ul li .task-entry .due-container {
    display: flex;
    align-items: center;
}

div#container ul li .task-entry p.due {
    margin-bottom: 0;
}

div#container ul li .task-entry img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

div#container ul li .task-entry .tag {
    color: var(--light-gray);
}

div#container ul li .task-entry .value {
    padding: 0.5rem;
    background-color: var(--bg-color);
    border-radius: 10px;
    min-width: 4.5rem;
}

div#container ul li .task-entry .value.low {
    background-color: var(--green);
}

div#container ul li .task-entry .value.medium {
    background-color: var(--yellow);
}

div#container ul li .task-entry .value.high {
    background-color: var(--red);
}

div#container ul li .task-entry .value.done {
    background-color: var(--green);
}

div#cotainer ul li .task-entry .value.done::before {
    content: "✔";
}

div#container ul li:nth-child(odd) {
    background-color: var(--lighter-gray);
}

div#container ul li:nth-child(even) {
    background-color: white;
}

div#container li p {
    font-size: 1.1rem;
    color: var(--dark-gray);
}

div#container li p.entry-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: navy;
}

div#container li div.task-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

div#container li div.task-details p {
    font-size: 0.8em;
    text-align: center;
    margin: 0;
}

div#container li p.empty-task {
    color: var(--light-gray);
    text-align: center;
}

div#container li div.details {
    display: flex;
}

button {
    /* For compatibilit with Safari */
    -webkit-apperance: none;
    margin: 0;
    padding: 0;

    background-color: white;
    font-family: "grace-covered";
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.5rem;
}

div#add-container {
    position: fixed;
    left: 50%;
    bottom: var(--footer-height);
    display: flex;
    justify-content: center;
    height: var(--add-btn-height);
    margin: var(--add-btn-margin) 0;
    transform: translate(-50%, 0) scale(1);
}

div#add-container button#add {
    display: grid;
    place-items: center;
    content: url("./icons/add_FILL1_wght400_GRAD0_opsz24.svg");
    background-color: var(--fixed-ui-elements);
    width: var(--add-btn-height);
    height: var(--add-btn-height);
    border-radius: 50%;
    border: 1px solid var(--fixed-ui-elements);
    box-shadow: 2px 2px 2px var(--bg-color),
        2px -2px 2px var(--bg-color),
        -2px 2px 2px var(--bg-color),
        -2px -2px 2px var(--bg-color);
}

div#add-container button#add > img {
    width: calc(0.7*var(--add-btn-height));
    height: calc(0.7*var(--add-btn-height));
}

div#add-container button#add:active {
    box-shadow: inset 1px 1px 1px black,
        inset -1px 1px 1px black;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    height: var(--footer-height);
    width: 100vw;
}

footer > button {
    flex: 1;
    box-shadow: inset 2px 2px 3px black;
    background-color: var(--fixed-ui-elements);
    color: var(--fixed-ui-color);
}

footer > button.active {
    font-size: 1.8rem;
    box-shadow: 2px -2px 3px var(--shadow),
        -2px -2px 3px var(--shadow);
}